<%# De actieve pagina %>
<% const activePage = "Zoekgeschiedenis" %>

<%# Inladen van de metadata van de webpagina %>
<%- include('partials/heading', { activePage: activePage }) %>
<%# Navigatie inladen %>
<%- include('partials/nav', { activePage: activePage }) %>
    <main id="history">
        <!--Zoekgeschiedenis-->
        <section id="search-history">
            <h1>Zoekgeschiedenis</h1>
            <!--Zoekbalk-->
            <script>
                //Als het scherm wordt herladen, dan wordt de pagina teruggebracht in zijn vorige staat
                //BRON: https://itpresent.com/web/javascript/stop_resubmit_html_form_refresh.php
                if (window.history.replaceState) { 
                  window.history.replaceState(null, null, window.location.href)
                }
            </script> 
            <br>
            <form class="search-box__div" action="/history" method="post">
                <input class="search-box__input" type="text" id="search" name="searchTerm" placeholder="Zoek">
                <button class="search-box__button" type="submit" onclick="this.form.submit()">
                    <i class="material-icons">search</i>
                </button>
            </form>
            <%# Voor elk bedrijf uit de zoekgeschiedenis, wordt de naam en het adres vertoond %>
            <% for(const company of searchedCompanies) { %>
                <a href="http://localhost:3000/history/<%- company.referencenumber %>">
                    <article>
                        <h2><%- company.name %></h2>
                        <p><%- company.address %></p>
                        <hr>
                    </article>
                </a>
            <% } %>
        </section>
        <!--Bedrijfsinfo-->
        <section id="company-info">
           <table>
                <caption><%- company.name %></caption>
                <tr>
                    <th scope="row">Ondernemingsnummer:</th>
                    <td><%- company.referencenumber %></td>
                </tr>
                <tr>
                    <th scope="row">Adres:</th>
                    <td><%- company.address %></td>
                </tr>
                <tr>
                    <th scope="row">Datum neerlegging:</th>
                    <td><%- company.depositDate %></td>
                </tr>
                <tr>
                    <th scope="row">Eigen vermogen:</th>
                    <td>
                        <%# Als de eigen vermogen van het bedrijf 0 EUR bedraagt, dan wordt het niet getoond, anders wel %>
                        <% if (company.equities === 0) { %>
                            <%- "" %>
                        <% } else { %>
                            &euro;&nbsp;<%- company.equities %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Schulden:</th>
                    <td>
                       <%# Als de schulden van het bedrijf 0 EUR bedraagt, dan wordt het niet getoond, anders wel %> 
                        <% if (company.debts === 0) { %>
                            <%- "" %>
                        <% } else { %>
                            &euro;&nbsp;<%- company.debts %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Winst:</th>
                    <td>
                        <%# Als de winst van het bedrijf 0 EUR bedraagt, dan wordt het niet getoond, anders wel %>
                        <% if(company.profit === 0) { %>
                            <%- "" %>
                        <% } else { %>
                            &euro;&nbsp;<%- company.profit %>
                        <% } %>
                    </td>
                </tr>
           </table> 
        </section>
    </main>
<%# Voet inladen %>
<%- include('partials/footer'); %>