<% const activePage = "Zoekgeschiedenis" %>
<%- include('partials/heading', {activePage: activePage}) %>
<%- include('partials/nav', {activePage: activePage}) %>
    <main id="main-history">
        <section id="section-history">
            <h2>Zoekgeschiedenis</h2>
            <% for(const company of searchedCompanies) { %>
                <article>
                    <h3><%- company.name %></h3>
                    <p><%- company.address</p>
                    <hr>
                </article>
            <% } %>
        </section>
        <section id="section-companyInfo">
           <table id="table-companyInfo">
                <caption><%- company.name %></caption>
                <tr>
                    <th scope="row">Ondernemingsnummer</th>
                    <td><%- company.referencenumber %></td>
                </tr>
                <tr>
                    <th scope="row">Adres</th>
                    <td><%- company.address %></td>
                </tr>
                <tr>
                    <th scope="row">Datum neerlegging</th>
                    <td><%- company.depositDate %></td>
                </tr>
                <tr>
                    <th scope="row">Eigen vermogen</th>
                    <td><%- company.equities %></td>
                </tr>
                <tr>
                    <th scope="row">Schulden</th>
                    <td><%- company.debts %></td>
                </tr>
                <tr>
                    <th scope="row">Winst</th>
                    <td><%- company.profit %></td>
                </tr>
           </table> 
        </section>
    </main>
 <%- include('partials/footer'); %>