<% const activePage = "Home"; %> <%- include('partials/heading', {activePage:
activePage}) %> <%- include('partials/nav', {activePage: activePage}) %>
<header id="header-home">
  <article>
    <h1>Nexus</h1>
    <p>
      Welkom bij Nexus, waar we ons richten op het leveren van innovatieve en
      nuttige tools om het leven van onze klanten gemakkelijker te maken.
      Onderaan de pagina vindt u een unieke vergelijkingstool waarmee de
      jaarrekeningen van twee bedrijven met elkaar vergeleken kunnen worden.
      Deze tool is ontwikkeld om u te helpen weloverwogen beslissingen te nemen
      bij het beoordelen van de financiële gezondheid van bedrijven. Onze
      vergelijkingstool is eenvoudig in gebruik en biedt u snel en nauwkeurig
      inzicht in de financiële prestaties van de bedrijven die u vergelijkt.
    </p>
  </article>
</header>
<main id="main-home">
    <section id="comparison-tool">
        <h1 class="titleHome">Vergelijkingstool</h1>
        <form action="/home" name="frmComparison" class="comparison-form" method="post">
            <input placeholder="Ondernemingsnummer" type="text" id="company1" name="company1" />
            <button class="compare-button" id="btnCompare">Vergelijk</button>
            <input placeholder="Ondernemingsnummer" type="text" id="company2-input" name="company2" />
        </form>
        <div class="comparison-results">
                <table>
                    <tr>
                        <th>Naam:</th>
                        <td>
                            <% if(companyData){ %>
                            <%= companyData.name %>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Adres:</th>
                        <td><%= companyData.address %></td>
                    </tr>
                    <tr>
                        <th>Datum neerlegging:</th>
                        <td><%= companyData.depositDate %></td>
                    </tr>
                    <tr>
                        <th>Eigen vermogen:</th>
                        <td>
                            <% if(companyData.equity != 0){ %>
                                <% if(companyData.equity > companyData2.equity){ %> 
                                <span class="green"><%= companyData.equity %></span> <% } 
                                else { %> <span class="red"><%= companyData.equity %></span> <% } %>
                                    <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Schulden:</th>
                        <td>
                            <% if(companyData.debt != 0){ %>
                                <% if(companyData.debt < companyData2.debt){ %> 
                                    <span class="green"><%= companyData.debt %></span> <% } 
                                    else { %> <span class="red"><%= companyData.debt %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Bedrijfswinst:</th>
                        <td>
                            <% if(companyData.profit != 0){ %>
                                <% if(companyData.profit > companyData2.profit){ %> 
                                    <span class="green"><%= companyData.profit %></span> <% } 
                                    else { %> <span class="red"><%= companyData.profit %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Naam:</th>
                        <td><%= companyData2.name %></td>
                    </tr>
                    <tr>
                        <th>Adres:</th>
                        <td><%= companyData2.address %></td>
                    </tr>
                    <tr>
                        <th>Datum neerlegging:</th>
                        <td><%= companyData2.depositDate %></td>
                    </tr>
                    <tr>
                        <th>Eigen vermogen:</th>
                        <td">
                            <% if(companyData2.equity != 0){ %>
                                <% if(companyData2.equities > companyData.equities){ %> 
                                    <span class="green"><%= companyData2.equities %></span> <% } 
                                    else { %> <span class="red"><%= companyData2.equities %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Schulden:</th>
                        <td">
                            <% if(companyData2.debts != 0){ %>
                                <% if(companyData2.debts < companyData.debts){ %> 
                                    <span class="green"><%= companyData2.debts %></span> <% } 
                                    else { %> <span class="red"><%= companyData2.debts %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Bedrijfswinst:</th>
                        <td id="company2Profit">
                            <% if(companyData2.profit != 0){ %>
                                <% if(companyData2.profit > companyData.profit){ %> 
                                    <span class="green"><%= companyData2.profit %></span> <% } 
                                    else { %> <span class="red"><%= companyData2.profit %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                </table>
        </div>
    </section>
</main>
<%- include('partials/footer'); %>
