<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css" />
    <!-- JS -->
 
    <script src="js/history.js" defer></script>
    <script src="js/db.js" defer></script>
    <script src="js/api.js"></script>
    <script src="./js/translateHome.js" defer></script>
    <script type="text/javascript" src="./js/darkLight.js" defer></script>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
    <title>Nexus</title>
</head>

<body class="light" id="body-home">
    <nav>
        <div id="nav-left">
            <ul>
                <li><a href="home" class="active">Home</a></li>
                <li><a href="history">Zoekgeschiedenis</a></li>
                <li><a href="about">Over ons</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
        <div id="nav-right">
            <div class="translator">
                <ul>
                    <li><a href="#" class="talen">NL</a>
                        <ul class="dropdown">
                            <li><a href="#" language="dutch" class="active"><span class="fi fi-nl"></span></a></li>
                            <li><a href="#" language="english"><span class="fi fi-us"></span></a></li>
                            <li><a href="#" language="french"><span class="fi fi-fr"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <input type="checkbox" id="toggle">
            <label class="toggle" for="toggle">
                <i class="bx bxs-sun"></i>
                <i class="bx bx-moon"></i>
                <span class="ball"></span>
            </label>
        </div>
    </nav>

    <header id="header-home">
        <article>
            <h1>Nexus</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                architecto fugiat soluta aliquam provident inventore maiores accusamus
                explicabo consequuntur voluptas, commodi nam. Nostrum, tempore
                similique! Porro, provident quibusdam. Eos, dolor.
            </p>
        </article>
    </header>
    <main id="main-home">
        <section id="comparison-tool">
            <h1 class="titleHome">Vergelijkingstool</h1>
            <form action="/home" name="frmComparison" class="comparison-form" method="post">
                <input placeholder="Ondernemingsnummer" type="text" id="company1" name="company1" />
                <button class="compare-button" id="btnCompare">Vergelijk</button>
                <input placeholder="Ondernemingsnummer" type="text" id="company2-input" name="company2" />
            </form>
            <div class="comparison-results">
                <div id="company1-data">
                    <table>
                        <tr>
                            <th>Naam:</th>
                            <td id="company1Name">
                                <% if(companyData){ %>
                                <%= companyData.name %>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <th>Adres:</th>
                            <td id="company1Address"><%= companyData.address %></td>
                        </tr>
                        <tr>
                            <th>Datum neerlegging:</th>
                            <td id="company1Date"><%= companyData.depositDate %></td>
                        </tr>
                        <tr>
                            <th>Eigen vermogen:</th>
                            <td id="company1Equity">
                                <% if(companyData.equity != 0){ %>
                                    <% if(companyData.equity > companyData2.equity){ %> 
                                    <span class="green"><%= companyData.equity %></span> <% } 
                                    else { %> <span class="red"><%= companyData.equity %></span> <% } %>
                                        <% } %>
                            </td>
                        </tr>
                        <tr>
                            <th>Schulden:</th>
                            <td id="company1Debts">
                                <% if(companyData.debt != 0){ %>
                                    <% if(companyData.debt < companyData2.debt){ %> 
                                        <span class="green"><%= companyData.debt %></span> <% } 
                                        else { %> <span class="red"><%= companyData.debt %></span> <% } %>
                                    <% } %>
                            </td>
                        </tr>
                        <tr>
                            <th>Bedrijfswinst:</th>
                            <td id="company1Profit">
                                <% if(companyData.profit != 0){ %>
                                    <% if(companyData.profit > companyData2.profit){ %> 
                                        <span class="green"><%= companyData.profit %></span> <% } 
                                        else { %> <span class="red"><%= companyData.profit %></span> <% } %>
                                    <% } %>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="company2-data">
                    <table>
                        <tr>
                            <th>Naam:</th>
                            <td id="company2Name"><%= companyData2.name %></td>
                        </tr>
                        <tr>
                            <th>Adres:</th>
                            <td id="company2Address"><%= companyData2.address %></td>
                        </tr>
                        <tr>
                            <th>Datum neerlegging:</th>
                            <td id="company2Date"><%= companyData2.depositDate %></td>
                        </tr>
                        <tr>
                            <th>Eigen vermogen:</th>
                            <td id="company2Equity">
                                <% if(companyData2.equity != 0){ %>
                                    <% if(companyData2.equity > companyData.equity){ %> 
                                        <span class="green"><%= companyData2.equity %></span> <% } 
                                        else { %> <span class="red"><%= companyData2.equity %></span> <% } %>
                                    <% } %>
                            </td>
                        </tr>
                        <tr>
                            <th>Schulden:</th>
                            <td id="company2Debts">
                                <% if(companyData2.debt != 0){ %>
                                    <% if(companyData2.debt < companyData.debt){ %> 
                                        <span class="green"><%= companyData2.debt %></span> <% } 
                                        else { %> <span class="red"><%= companyData2.debt %></span> <% } %>
                                    <% } %>
                            </td>
                        </tr>
                        <tr>
                            <th>Bedrijfswinst:</th>
                            <td id="company2Profit">
                                <% if(companyData2.profit != 0){ %>
                                    <% if(companyData2.profit > companyData.profit){ %> 
                                        <span class="green"><%= companyData2.profit %></span> <% } 
                                        else { %> <span class="red"><%= companyData2.profit %></span> <% } %>
                                    <% } %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <%- include('footer'); %>
</body>

</html>