<% const activePage = "Home"; %> <%- include('partials/heading', {activePage:
activePage}) %> <%- include('partials/nav', {activePage: activePage}) %>
<header id="header-home">
  <article>
    <h1>Nexus</h1>
    <p>
      Welkom bij Nexus, waar we ons richten op het leveren van innovatieve en
      nuttige tools om het leven van onze klanten gemakkelijker te maken.
      Onderaan de pagina vindt u een unieke vergelijkingstool waarmee de
      jaarrekeningen van twee bedrijven met elkaar vergeleken kunnen worden.
      Deze tool is ontwikkeld om u te helpen weloverwogen beslissingen te nemen
      bij het beoordelen van de financiële gezondheid van bedrijven. Onze
      vergelijkingstool is eenvoudig in gebruik en biedt u snel en nauwkeurig
      inzicht in de financiële prestaties van de bedrijven die u vergelijkt.
    </p>
  </article>
</header>
<main id="main-home">
    <section id="comparison-tool">
        <h1 >Vergelijkingstool</h1>
        <form action="/home" name="frmComparison" id="comparison-form" method="post">
            <input placeholder="Ondernemingsnummer" type="text" id="company1" name="company1" />
            <button type="input" class="compare-button" id="btnCompare" onclick="this.classList.toggle('button--loading')"><span class="button_text">Vergelijk</span></button>
            <input placeholder="Ondernemingsnummer" type="text" id="company2-input" name="company2" />
        </form>
        <div id="comparison-results">
            <div>
                <table>
                    <tr>
                        <th>Naam:</th>
                        <td>
                            <% if(companyData){ %>
                            <%= companyData.name %>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Adres:</th>
                        <td><%= companyData.address %></td>
                    </tr>
                    <tr>
                        <th>Datum neerlegging:</th>
                        <td><%= companyData.depositDate %></td>
                    </tr>
                    <tr>
                        <th>Eigen vermogen:</th>
                        <td>
                            <% if(companyData.equities != 0){ %>
                                <% if(companyData.equities > company2Data.equities){ %> 
                                <span class="green"><%= companyData.equities %></span> <% } 
                                else { %> <span class="red"><%= companyData.equities %></span> <% } %>
                                    <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Schulden:</th>
                        <td>
                            <% if(companyData.debts != 0){ %>
                                <% if(companyData.debts < company2Data.debts){ %> 
                                    <span class="green"><%= companyData.debts %></span> <% } 
                                    else { %> <span class="red"><%= companyData.debts %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Bedrijfswinst:</th>
                        <td>
                            <% if(companyData.profit != 0){ %>
                                <% if(companyData.profit > company2Data.profit){ %> 
                                    <span class="green"><%= companyData.profit %></span> <% } 
                                    else { %> <span class="red"><%= companyData.profit %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Naam:</th>
                        <td><%= company2Data.name %></td>
                    </tr>
                    <tr>
                        <th>Adres:</th>
                        <td><%= company2Data.address %></td>
                    </tr>
                    <tr>
                        <th>Datum neerlegging:</th>
                        <td><%= company2Data.depositDate %></td>
                    </tr>
                    <tr>
                        <th>Eigen vermogen:</th>
                        <td>
                            <% if(company2Data.equities != 0){ %>
                                <% if(company2Data.equities > companyData.equities){ %> 
                                    <span class="green"><%= company2Data.equities %></span> <% } 
                                    else { %> <span class="red"><%= company2Data.equities %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Schulden:</th>
                        <td>
                            <% if(company2Data.debts != 0){ %>
                                <% if(company2Data.debts < companyData.debts){ %> 
                                    <span class="green"><%= company2Data.debts %></span> <% } 
                                    else { %> <span class="red"><%= company2Data.debts %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Bedrijfswinst:</th>
                        <td>
                            <% if(company2Data.profit != 0){ %>
                                <% if(company2Data.profit > companyData.profit){ %> 
                                    <span class="green"><%= company2Data.profit %></span> <% } 
                                    else { %> <span class="red"><%= company2Data.profit %></span> <% } %>
                                <% } %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer'); %>
