<% const activePage = "Home"; %> <%- include('partials/heading', {activePage:
activePage}) %> <%- include('partials/nav', {activePage: activePage}) %>
<header id="header-home">
  <article>
    <h1>Nexus</h1>
    <p>
      Welkom bij Nexus, waar we ons richten op het leveren van innovatieve en
      nuttige tools om het leven van onze klanten gemakkelijker te maken.
      Onderaan de pagina vindt u een unieke vergelijkingstool waarmee de
      jaarrekeningen van twee bedrijven met elkaar vergeleken kunnen worden.
      Deze tool is ontwikkeld om u te helpen weloverwogen beslissingen te nemen
      bij het beoordelen van de financiële gezondheid van bedrijven. Onze
      vergelijkingstool is eenvoudig in gebruik en biedt u snel en nauwkeurig
      inzicht in de financiële prestaties van de bedrijven die u vergelijkt.
    </p>
  </article>
</header>
<main id="main-home">
  <section id="comparison-tool">
    <h1 class="titleHome">Vergelijkingstool</h1>
    <% if(locals.succses){%> <% if(companyData.name == "" || company2Data.name
    == ""){ %>
    <span id="errNoReferencenumber">Vul twee geldige ondernemingsnummers in</span>
    <%}%> <% } %>
   <script>
        if (window.history.replaceState) { window.history.replaceState(null, null, window.location.href)};//https://itpresent.com/web/javascript/stop_resubmit_html_form_refresh.php
   </script> 
    <form
      action="/home" 
      name="frmComparison"
      class="comparison-form"
      method="post"
    >
      <input
        placeholder="0123123123"
        type="text"
        id="company1"
        name="company1"
        maxlength="10"
      />
      <button
        type="input"
        class="compare-button"
        id="btnCompare"
        onclick="this.classList.toggle('button--loading')"
      > <!-- Bron -> https://dev.to/dcodeyt/create-a-button-with-a-loading-spinner-in-html-css-1c0h -->
        <span class="button__text">Vergelijk</span>
      </button>
      <input
        placeholder="0123123123"
        type="text"
        id="company2-input"
        name="company2"
        maxlength="10"

      />
    </form>
    <div class="comparison-results">
      <div id="company1-data">
        <table>
          <tr>
            <th>Naam:</th>
            <td><% if(companyData){ %> <%= companyData.name %> <% } %></td>
          </tr>
          <tr>
            <th>Adres:</th>
            <td><%= companyData.address %></td>
          </tr>
          <tr>
            <th>Datum neerlegging:</th>
            <td><%= companyData.depositDate %></td>
          </tr>
          <tr>
            <th>Eigen vermogen:</th>
            <td>
              <% if(companyData.equities != 0){ if(companyData.equities == company2Data.equities) { %>
                <span class="equalAmounts">€ <%= companyData.equities %></span><% } else if(companyData.equities > company2Data.equities){ %>
              <span class="greeN">€ <%= companyData.equities %></span><% } else { %>
              <span class="reD">€ <%= companyData.equities %></span> <% } } %>
            </td>
          </tr>
          <tr>
            <th>Schulden:</th>
            <td>
              <% if(companyData.debts != 0){ if(companyData.debts == company2Data.debts){ %>
                <span class="equalAmounts">€ <%= companyData.debts %></span> <% } else if(companyData.debts < company2Data.debts){ %>
              <span class="greeN">€ <%= companyData.debts %></span> <% } else { %>
              <span class="reD">€ <%= companyData.debts %></span> <% } } %>
            </td>
          </tr>
          <tr>
            <th>Bedrijfswinst:</th>
            <td>
              <% if(companyData.profit != 0){ if(companyData.profit == company2Data.profit){ %>
                <span class="equalAmounts">€ <%= companyData.profit %></span> <% } else if(companyData.profit > company2Data.profit) { %>
              <span class="greeN">€ <%= companyData.profit %></span> <% } else { %>
              <span class="reD">€ <%= companyData.profit %></span> <% } } %>
            </td>
          </tr>
        </table>
      </div>
      <div id="company2-data">
        <table>
          <tr>
            <th>Naam:</th>
            <td><%= company2Data.name %></td>
          </tr>
          <tr>
            <th>Adres:</th>
            <td><%= company2Data.address %></td>
          </tr>
          <tr>
            <th>Datum neerlegging:</th>
            <td><%= company2Data.depositDate %></td>
          </tr>
          <tr>
            <th>Eigen vermogen:</th>
            <td>
              <% if(company2Data.equities != 0){ if(company2Data.equities == companyData.equities){ %>
                <span class="equalAmounts">€ <%= company2Data.equities %></span> <% } else if(company2Data.equities > companyData.equities) { %> 
              <span class="greeN">€ <%= company2Data.equities %></span> <% } else { %> 
              <span class="reD">€ <%= company2Data.equities %></span> <% } } %>
            </td>
          </tr>
          <tr>
            <th>Schulden:</th>
            <td>
              <% if(company2Data.debts != 0){ if(company2Data.debts == companyData.debts){ %>
                <span class="equalAmounts">€ <%= company2Data.debts %></span> <% } else if(company2Data.debts < companyData.debts) { %>
              <span class="greeN">€ <%= company2Data.debts %></span> <% } else { %>
              <span class="reD">€ <%= company2Data.debts %></span> <% } } %>
            </td>
          </tr>
          <tr>
            <th>Bedrijfswinst:</th>
            <td>
              <% if(company2Data.profit != 0){ if(company2Data.profit == companyData.profit){ %>
                <span class="greeN">€ <%= company2Data.profit %></span> <% } else if(company2Data.profit > companyData.profit) { %>
              <span class="greeN">€ <%= company2Data.profit %></span> <% } else { %>
              <span class="reD">€ <%= company2Data.profit %></span> <% }} %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</main>
<%- include('partials/footer'); %>
