<% const activePage = "Home"; %> <%- include('partials/heading', {activePage:
activePage}) %> <%- include('partials/nav', {activePage: activePage}) %>
<script src="./js/translateHome.js" defer></script>
<header id="header-home">
  <article>
    <h1>Nexus</h1>
    <p>
      Welkom bij Nexus, waar we ons richten op het leveren van innovatieve en
      nuttige tools om het leven van onze klanten gemakkelijker te maken.
      Onderaan de pagina vindt u een unieke vergelijkingstool waarmee de
      jaarrekeningen van twee bedrijven met elkaar vergeleken kunnen worden.
      Deze tool is ontwikkeld om u te helpen weloverwogen beslissingen te nemen
      bij het beoordelen van de financiële gezondheid van bedrijven. Onze
      vergelijkingstool is eenvoudig in gebruik en biedt u snel en nauwkeurig
      inzicht in de financiële prestaties van de bedrijven die u vergelijkt.
    </p>
  </article>
</header>
<main id="main-home">
  <section id="comparison-tool">
    <h1 class="titleHome">Vergelijkingstool</h1>
    <form
      action="/home"
      name="frmComparison"
      class="comparison-form"
      method="post"
    >
      <input
        placeholder="Ondernemingsnummer"
        type="text"
        id="company1"
        name="company1"
      />
      <button
        type="input"
        class="compare-button"
        id="btnCompare"
        onclick="this.classList.toggle('button--loading')"
      >
        <span class="button__text">Vergelijk</span>
      </button>
      <input
        placeholder="Ondernemingsnummer"
        type="text"
        id="company2-input"
        name="company2"
      />
    </form>
    <div class="comparison-results">
      <div id="company1-data">
        <table>
          <tr>
            <th>Naam:</th>
            <td id="company1Name"> <%= companyData.name %></td>
          </tr>
          <tr>
            <th>Adres:</th>
            <td id="company1Address"><%= companyData.address %></td>
          </tr>
          <tr>
            <th>Datum neerlegging:</th>
            <td id="company1Date"><%= companyData.depositDate %></td>
          </tr>
          <tr>
            <th>Eigen vermogen:</th>
            <td id="company1Equity">
              <% if(companyData.equity != 0){ %> 
              <% if(companyData.equity >  companyData2.equity){ %>
              <span class="greeN"><%= companyData.equity %></span> <% } else {
              %> <span class="reD"><%= companyData.equity %></span>
               <% } %> <% }
              %>
            </td>
          </tr>
          <tr>
            <th>Schulden:</th>
            <td id="company1Debts">
              <% if(companyData.debt != 0){ %> 
              <% if(companyData.debt > companyData2.debt){ %>
              <span class="reD">  <%= companyData.debt %></span><% } else { %>
              <span class="greeN"> <%= companyData.debt %></span>
                <% } %> <% } %>
            </td>
          </tr>
          <tr>
            <th>Bedrijfswinst:</th>
            <td id="company1Profit">
              <% if(companyData.profit != 0){ %> 
              <% if(companyData.profit > companyData2.profit){ %>
                <span class="greeN"><%= companyData.profit %></span>
              <% } else { %> 
                <span class="reD"><%= companyData.profit %></span> 
              <% } %> <% } %>
            </td>
          </tr>
        </table>
      </div>
      <div id="company2-data">
        <table>
          <tr>
            <th>Naam:</th>
            <td id="company2Name"><%= companyData2.name %></td>
          </tr>
          <tr>
            <th>Adres:</th>
            <td id="company2Address"><%= companyData2.address %></td>
          </tr>
          <tr>
            <th>Datum neerlegging:</th>
            <td id="company2Date"><%= companyData2.depositDate %></td>
          </tr>
          <tr>
            <th>Eigen vermogen:</th>
            <td id="company2Equity">
              <% if(companyData2.equity != 0){ %> 
              <% if(companyData2.equity > companyData.equity){ %>
              <span class="greeN"><%= companyData2.equity %></span> <% } else {
              %> <span class="reD"><%= companyData2.equity %></span> <% } %> <%
              } %>
            </td>

          </tr>
          <tr>
            <th>Schulden:</th>
            <td id="company2Debts">
              <% if(companyData2.debt != 0){ %> 
              <% if(companyData2.debt > companyData.debt){ %>
              <span class="reD"><%= companyData2.debt %></span> <% } else { %>
              <span class="greeN"><%= companyData2.debt %></span> <% } %> <% } %>
            </td>
          </tr>
          <tr>
            <th>Bedrijfswinst:</th>
            <td id="company2Profit">
              <% if(companyData2.profit != 0){ %> 
              <% if(companyData2.profit > companyData.profit){ %>
              <span class="greeN"><%= companyData2.profit %></span> <% } else {
              %> <span class="reD"><%= companyData2.profit %></span> <% } %> <%
              } %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</main>
<%- include('partials/footer'); %>
